@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  text-wrap: pretty;
}

:root {
  --bg-clr: hsl(0, 0%, 85%);
  --shadow-clr-1: hsl(0, 0%, 65%);
  --shadow-clr-2: hsl(0, 0%, 100%);
  --text-clr: hsl(0, 0%, 85%);
  --hover-highlight: hsl(270, 25%, 70%);
  --warning-clr: hsla(0, 92%, 42%, 0.9);
  --shadow:
    6px 6px 16px var(--shadow-clr-1), -6px -6px 16px var(--shadow-clr-2);
  --font-primary: "IBM Plex Sans", sans-serif;
}

body {
  font-family: var(--font-primary);
  background: var(--bg-clr);
}

#app {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
